header {
    background-color: #1b1c21;
    height: 75px;
    position: fixed;
    top: -2px;
    left: -2px;
    right: -2px;
    border: #958e8e solid 1px;
    justify-content: flex-end;
    z-index: 5;
}